.image-overlay {
  position: relative;
  width: 1024px;
  height: 799px;
  overflow: hidden;
}

.image-overlay img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-overlay .text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-overlay:hover .text-overlay {
  opacity: 1;
}

.important-text {
  color: white;
  text-shadow: 0 0 5px white;
  transition: all 0.5s ease-in-out;
}

.important-text:hover {
  text-shadow: none;
}
.image-overlay h2,
.image-overlay h3,
.image-overlay p {
  transition: all 0.5s ease-in-out;
}

.image-overlay:hover h2 {
  transform: scale(1.2);
}

.image-overlay:hover h3 {
  transform: scale(1.1);
}

.image-overlay:hover em {
  text-shadow: 0 0 5px white;
}

.image-overlay:hover p {
  opacity: 1;
  animation: typing 1s steps(100, end);
}

@keyframes typing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}